<h3>Document Name</h3>
<form>
<input type=text size=5 name=docName>
<a href=# id=docNameProcess><button class='btn btn-primary'>Submit</button></a>
</form>
<p id=docNameResult>None Here Yet</p>


<h3>Document Questions</h3>
  <p id = listOfDocQuestions>Yaya</p>


<h4>Create Document</h4>
<div class="input-group mb-3">
  <p>Enter the number of different versions</p>
  <input class="from-control" type = "text" id="numberOfVersions" aria-describedby="versionsNote" value=1>
</div>

  <input type = "checkbox" class = "custom-control-input" id = "versionsCombined" checked>
  <label class = "custom-control-label" for = "versionsCombined" >Versions Are Combined Into One PDF File</label>

  <input type = "checkbox" class = "custom-control-input" id = "collatedVersionsAnswers" unchecked>
  <label class = "custom-control-label" for = "collatedVersionsAnswers" >Versions Are Collated With Answers Into One PDF File</label>

  <input type = "checkbox" class = "custom-control-input" id = "answerKeyAttached" checked>
  <label class = "custom-control-label" for = "answerKeyAttached" >Answer Key Attached to PDF File</label>
  
  <a id = createDocument><button class = 'btn btn-primary'>Create Document</button></a>
  
  <p id = createDownloadButton></p>
  
  <p id = success></p>
