{% for questionDict, indexVal in zip(listOfQuestionDicts, range(len(listOfQuestionDicts))) %}
<div>
	<p>
		<h5>{{indexVal+1}}. {{questionDict['id']}}</h5>
	  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{questionDict['id']}}{{indexVal+1}}Collapse" aria-expanded="false" aria-controls="{{questionDict['id']}}{{indexVal+1}}Collapse">
	    View Options
	  </button>
	</p>

	<div class="collapse" id="{{questionDict['id']}}{{indexVal+1}}Collapse">
	  <div class="card card-body">
	    {{questionDict['option']}}
	  </div>
	</div>
</div>
{% endfor %}