<!--   DON'T USE DEFAULT, JUST USE THE REGULAR ISTANCE??? IF BOOL USE WHAT THE BOOL IS, IF LIST, USE FIRST ITEM, IF INTEGER USE INTEGER....ALL OF THESE WILL ALSO NEED NOTES? (LIKE INTS FOR EXAMPLE)   -->


{% for qi in questionIDs %}
<div class="card border-primary mb-3" id = "{{ qi }}" style = "border-width: thick; border-color: black;">
  <img class="card-img-top" src = "{{ getFilePathForQuestion(qi) }}" id = "{{ qi }}img" width = "50%" height = "50%">
      <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseOptions{{qi}}" role="button" aria-expanded="false" aria-controls="collapseOptions{{qi}}">
        Show Options
      </a>

      <button class="btn btn-primary" type = "button" name = "add" role="button" id = "{{qi}}">
        Add Questions
      </button>

      </p>
    
    <div class = "collapse" id = "collapseOptions{{qi}}">
    <div class="card-body" id = "{{qi}}">
      <p>Note: Picture is based on options that are <b>bolded.</b></p>
      {% set inst = getClassQuestion(qi) %}
      {% set listOfKeys = sorted(inst.defaultKwargs) %}
      	<form>
      	<div class = "form-row align-items-center" id = "{{qi}}" name = 'questionOptions'>
        <!-- Sorting the dictionary keys, so that default is the first key       -->
        {% for key in listOfKeys %}
			{% if key == 'default' %}
			<!--  This should do nothing as this would not be included      -->

			{% elif typeOfItem(inst.defaultKwargs[key]) == 'bool' %}
				<legend>{{key}}</legend>
		        <div class= "col-auto" name = "boolCheckboxes" id = '{{qi}}'>
					{% if inst.defaultKwargs[key] == True %}
						<input type = "checkbox" class = "custom-control-input" id = "{{ qi }}" value="True" name = "{{key}}" checked>
						<!-- Gave labels the same values, id, names as inputs for bolding -->
						<label class = "custom-control-label" for = "{{qi}}" style = "font-weight:bold;" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}">{{key}}</label>
					{% else %}
						<input type = "checkbox" class = "custom-control-input" id = "{{ qi }}" value="False" name = "{{key}}" >
						<label class = "custom-control-label" for = "{{qi}}" style = "font-weight:normal;" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}">{{key}}</label>
		            {% endif %}
	 
		        </div>

	      	{% elif typeOfItem(inst.defaultKwargs[key]) == 'int' %}
			  <div class="col-auto" id = "{{qi}}" name = "integerInputs">
			    <label for="{{qi}}" id = "{{qi}}" name = "{{key}}">{{key}}</label>
			    <input type="integer" class="form-control" id="{{qi}}" aria-describedby="integerNote" value="{{inst.defaultKwargs[key]}}" name = "{{key}}">
			    <small id="integerNote" class="form-text text-muted">Notes</small>
			  </div>

			{% elif typeOfItem(inst.defaultKwargs[key][0]) == 'string' %}
			<!--  checks to see if the 1st item in the first KWARG is a string, if so all others will be strings      -->
			<legend>{{key}}</legend>
			<div class= "col-auto" id = "{{qi}}" name = 'stringCheckboxes'>
			  {% for opt in inst.defaultKwargs[key] %}
			    {% if inst.defaultKwargs[key].index(opt) == 0 %}
			      <input type = "checkbox" class = "custom-control-input" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}" checked>
			      <!-- Gave labels the same values, id, names as inputs for bolding -->
			      <label class = "custom-control-label" for = "{{qi}}" style = "font-weight:bold;" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}">{{opt}}</label>
			    {% else %}
			      <input type = "checkbox" class = "custom-control-input" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}" >
			      <label class = "custom-control-label" for = "{{qi}}" style = "font-weight:normal;" id = "{{ qi }}" value="{{ opt }}" name = "{{key}}">{{opt}}</label>
			    {% endif %}

			  {% endfor %}  
			</div>
			
			{% endif %}
      

        {% endfor %}
    	</div>
    	</form>
    </div>
  </div>
</div>

{% endfor %}





