{% for ski in skills %}
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id = '{{ski}}'>
      <input type="radio" id = '{{ski}}' name = 'skill'>
      &nbsp;&nbsp;{{ski}}
    </div>
  </div>
</div>
{% endfor %}
