
{% for su in subjects %}
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id = '{{su}}'>
      <input type="radio" id = '{{su}}' name = 'subject' value = 'False'>
      &nbsp;&nbsp;{{su}}
    </div>
  </div>
</div>
{% endfor %}
