{% for t in topics %}
<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text" id = '{{t}}'>
      <input type="radio" id = '{{t}}' name = 'topic'>
      &nbsp;&nbsp;{{t}}
    </div>
  </div>
</div>
{% endfor %}
